.resident
  .resident__header
    .resident__header__box
      = @resident.name
    = link_to "編集", "#", class: "resident__header__edit"
  .record
    .record__list
      .record__list__index
        .record__list__index__time
          日時
        .record__list__index__text
          記録
        .record__list__index__name
          記述者
      = render @record

  .composition
    .composition__record
      = form_for "#" do |f|
        .composition__record__box
          = f.text_area :content, class: "input-text", placeholder: "内容を入力してください"
          = f.label :image, class: "label" do
            = icon("fas", "camera-retro", class: "label__icon" )
            = f.file_field :image, class: "file"
          = f.text_field :content, class: "input-name", placeholder: "記述者名を入力"
        .composition__record__submit
          = f.submit "記入", class: "submit"