= form_for floor do |f|
  - if floor.errors.any?
    .floor-form__errors
      %h2= "#{floor.errors.full_messages.count}件のエラーが発生しました。"
      %ul
        - floor.errors.full_messages.each do |message|
          %li= message
  .floor-form__field
    .floor-form__field--left
      = f.label :"フロア名", class: 'floor-form__label'
    .floor-form__field--right
      = f.text_field :name, class: 'floor_name floor-form__input', placeholder: 'フロアの名前を入力してください'
  .floor-form__field.clearfix
    .floor-form__field-message
      ＊注意＊　既に作成しているフロアと同じ名前のフロアは作成できません。
  .floor-form__field.clearfix
    .floor-form__field--left
    .floor-form__field--right
  .floor-form__field.clearfix
    .floor-form__field--left
    .floor-form__field--right
      = f.submit class: 'floor-form__action-btn'