= form_for resident do |f|
  - if resident.errors.any?
    .resident-form__errors
      %h2= "#{resident.errors.full_messages.count}件のエラーが発生しました。"
      %ul
        - resident.errors.full_messages.each do |message|
          %li= message
  .resident-form__field
    .resident-form__field--left
      = f.label :氏名, class: 'resident-form__label'
    .resident-form__field--right
      = f.text_field :name, class: 'resident-form__input', placeholder: '入居者様のお名前を入力してください'
  .resident-form__field.clearfix
    / この部分はインクリメンタルサーチ（ユーザー追加の非同期化のときに使用します
  .resident-form__field.clearfix
    .resident-form__field--left
      %label.chat-group-form__label{:for => "chat_group_チャットメンバー"} 所属するフロア
    .resident-form__field--right
      = f.text_field :name, class: 'resident-form__floor'
      / この部分はインクリメンタルサーチ（ユーザー追加の非同期化のときに使用します
  .resident-form__field.clearfix
    .resident-form__field--left
    .resident-form__field--right
      = f.submit "完了", class: 'resident-form__action-btn'